@(title : String, user : User)

@import models._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
		<div id="bodyContainer">
			<div id="aboutContainer">@about(user)</div>
			<div id="friendList">Loading...</div>
			<div id="newsFeed">Loading...</div>
		</div>
	</body>
	<script src="@routes.Assets.at("javascripts/loadMe.js")" type="text/javascript"></script>
</html>