@(title : String, user : User)

@import models._

<!DOCTYPE html>

<html>
	@htmlHeader(title, user)
    <body>
		@header(user)
		<div id="bodyContainer">
			<div id="aboutContainer">@about(user)</div>
			<div id="friendListContainerContainer">
				Friends
				<div id="friendListContainer">Loading...</div>
			</div>
			<div id="newsFeedContainer">Loading...</div>
		</div>
	</body>
	<script src="@routes.Assets.at("javascripts/friends.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/postList.js")" type="text/javascript"></script>
	<script type="text/javascript">
		loadFriendList();
		loadPostList();
	</script>
</html>