@(title : String, user : User)

@import models._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script type="text/javascript">var userId = "@user.userId"</script>
    </head>
    <body>
		@header()
		<div id="bodyContainer">
			<div id="aboutContainer">@about(user)</div>
			<div id="friendListContainerContainer">
				Friends
				<div id="friendListContainer">Loading...</div>
			</div>
			<div id="newsFeedContainer">Loading...</div>
		</div>
	</body>
	<script src="@routes.Assets.at("javascripts/friends.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/postList.js")" type="text/javascript"></script>
	<script type="text/javascript">
		loadFriendList();
		loadPostList();
	</script>
</html>